In [3]:
import pandas as pd
import numpy as np
import os
from typing import Dict, List, Tuple
# import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel("line_index.xlsx",sheet_name=2,header=0)
# result = df.loc[
#     # (df["호선코드"]=="2"),
#     ["교통수단코드","호선코드","호선명","역번호","노드역명"]   # 원하는 열만
# ]

df[["교통수단코드","호선코드","호선명","역번호","노드역명"]]

np.save("metro.npy",df[["교통수단코드","호선코드","호선명","역번호","노드역명"]])

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [3]:
df = pd.read_csv(
    "TCD_20220501.txt",
    sep="|",
    header=None,
    dtype=str,
    na_values=["", " ", "NA", "NaN", "nan"]  # 빈칸/NaN 등을 전부 결측 처리
)
df.columns = [
    "운행일자", "일련번호", "가상카드번호", "정산지역코드", "카드구분코드",
    "차량ID", "차량등록번호", "운행출발일시", "운행종료일시", "교통수단코드",
    "노선ID(국토부표준)", "노선ID(정산사업자)", "승차일시", "발권시간",
    "승차정류장ID(국토부표준)", "승차정류장ID(정산사업자)", "하차일시",
    "하차정류장ID(국토부표준)", "하차정류장ID(정산사업자)", "트랜잭션ID",
    "환승횟수", "사용자구분코드", "이용객수", "이용거리", "탑승시간"
]
cols_to_pad = ["승차정류장ID(정산사업자)", "하차정류장ID(정산사업자)"]

for col in cols_to_pad:
    # 결측값 NaN 때문에 먼저 문자열 변환 후, NaN은 그대로 두기 위해 .where 사용
    df[col] = df[col].where(df[col].isna(), df[col].astype(str).str.zfill(4))


np.save("log.npy",df)
# col 포함 npz 형식으로 저장
# np.savez("log.npz"
# ,columns = np.array(df.columns,dtype=object)

# ,data=df.to_numpy())

KeyboardInterrupt:

In [ ]:
# np.load("./npy/metro.npy",allow_pickle=True)
# log = np.load("./npy/log.npy",allow_pickle=True)

log = np.load("log.npy",allow_pickle=True)
cols_to_pad = ["승차정류장ID(정산사업자)", "하차정류장ID(정산사업자)"]

c = [
    "운행일자", "일련번호", "가상카드번호", "정산지역코드", "카드구분코드",
    "차량ID", "차량등록번호", "운행출발일시", "운행종료일시", "교통수단코드",
    "노선ID(국토부표준)", "노선ID(정산사업자)", "승차일시", "발권시간",
    "승차정류장ID(국토부표준)", "승차정류장ID(정산사업자)", "하차일시",
    "하차정류장ID(국토부표준)", "하차정류장ID(정산사업자)", "트랜잭션ID",
    "환승횟수", "사용자구분코드", "이용객수", "이용거리", "탑승시간"
]
df = pd.DataFrame(
    log,
    columns=c)   

# for col in cols_to_pad:
#     print(df[col])
df.shape

(9835619, 25)

In [ ]:
df.head

<bound method NDFrame.head of              운행일자 일련번호        가상카드번호      정산지역코드 카드구분코드       차량ID     차량등록번호  \
0        20220501    2  900667478659  EE10146014      3  146764031  전남76아4031
1        20220501    1  900542181534  EE10146014      4  146764000  전남76아4000
2        20220501    1  900645946706  EE10146014      2  146764032  전남76아4032
3        20220501    1  100577831584  EE10146014      C  146764027  전남76아4027
4        20220501    2  100584017325  EE10146014      C  146764014  전남76아4014
...           ...  ...           ...         ...    ...        ...        ...
9835614  20220501    2  100032852974  MM10144000      C  129721125  충남72자1125
9835615  20220501    1  100032493117  MM10144000      C  129701634  충남70자1634
9835616  20220501    2  100032493117  MM10144000      C  129701634  충남70자1634
9835617  20220501    1  100032828315  MM10144000      C  129721133  충남72자1133
9835618  20220501    1  100032834413  MM10144000      C  129701668  충남70자1668

                 운행출발일시 운행종료일시 교통수단코드  ... 승차정류장ID(정산사업자)            하차일시  \
0        20220501151927    NaN    978  ...        4103338             NaN
1        20220501160819    NaN    978  ...        4103338             NaN
2        20220501094545    NaN    978  ...        4103338             NaN
3        20220501123156    NaN    978  ...        4103338             NaN
4        20220501114443    NaN    978  ...        4103338             NaN
...                 ...    ...    ...  ...            ...             ...
9835614  20220501133953    NaN    656  ...        2921144  20220501153853
9835615  20220501102338    NaN    651  ...        2921412  20220501113711
9835616  20220501102338    NaN    651  ...        2921412  20220501122846
9835617  20220501093924    NaN    656  ...        2923810  20220501105530
9835618  20220501074240    NaN    651  ...        2922500  20220501092340

        하차정류장ID(국토부표준) 하차정류장ID(정산사업자) 트랜잭션ID 환승횟수 사용자구분코드 이용객수   이용거리  탑승시간
0                  NaN            NaN    002    0      01    1      0     0
1                  NaN            NaN    001    0      01    1      0     0
2                  NaN            NaN    001    0      01    1      0     0
3                  NaN            NaN    001    0      01    1      0     0
4                  NaN            NaN    002    0      01    1      0     0
...                ...            ...    ...  ...     ...  ...    ...   ...
9835614            NaN        2921232    002    0      01    1   9956  1298
9835615            NaN        2921412    001    0      01    1    301    51
9835616            NaN        2921124    002    0      01    1  24890  3067
9835617            NaN        2921153    001    0      01    1   5206   777
9835618            NaN        2923261    001    0      01    1   9029   794

[9835619 rows x 25 columns]>

In [4]:
log = np.load("npy/log.npy",allow_pickle=True)
metro = np.load("npy/metro.npy",allow_pickle=True)

MOBILE_CODE = 9
metro = metro[metro[:,0].argsort()] #metro 데이터를 교통수단코드순으로 정렬

metro_num = set(int(num) for num in range(201,238)) ## 지하철 교통수단 코드 201~~237
codes = log[:,MOBILE_CODE]
mask = np.isin(codes,list(metro_num))
metro_log = log[mask] # 지하철 이용만 마스킹


print(metro_log.shape)
print(metro_log[:3])

(4492012, 25)
[[20220501 1 'xaAETCBJHgcayQHcFozweYAVveFrW3//8L2jgZuUM1o=' '11100' '1'
  nan nan nan nan 202 nan '110' 20220501084953 nan nan 1275
  20220501103006.0 nan 1021.0 1 0 406 1 40600 6013]
 [20220501 2 'xaAETCBJHgcayQHcFozweYAVveFrW3//8L2jgZuUM1o=' '11100' '1'
  nan nan nan nan 202 nan '103' 20220501123412 nan nan 1021
  20220501142110.0 nan 1275.0 2 0 406 1 40600 6418]
 [20220501 1 'xaAEWEFjzL2Sajz4TF8m1LQja4eK0eL3EwbMbeqlNW4=' '11100' '1'
  nan nan nan nan 201 nan '003' 20220501073628 nan nan 309
  20220501082441.0 nan 1002.0 1 0 401 1 17800 2893]]

In [ ]:
print(metro_log[:2,15])

[1275 1021]

In [5]:
# col num
ORIGIN = 15
DEST = 18

STNUM = 3
STNAME = 4
log_col = [
    "운행일자", "일련번호", "가상카드번호", "정산지역코드", "카드구분코드",
    "차량ID", "차량등록번호", "운행출발일시", "운행종료일시", "교통수단코드",
    "노선ID(국토부표준)", "노선ID(정산사업자)", "승차일시", "발권시간",
    "승차정류장ID(국토부표준)", "승차정류장ID(정산사업자)", "하차일시",
    "하차정류장ID(국토부표준)", "하차정류장ID(정산사업자)", "트랜잭션ID",
    "환승횟수", "사용자구분코드", "이용객수", "이용거리", "탑승시간"
]
def norm4(s):
    s = s.astype("string")  # pandas StringDtype
    s = s.str.strip()
    return s.str.zfill(4)

metro_df = pd.DataFrame(
    metro,
    columns=["교통수단코드","호선코드","호선명","역번호","노드역명"]
)

log_df = pd.DataFrame(
    metro_log,
    columns=log_col
)
df = log_df.copy()
st = metro_df.copy()
df["승차정류장ID(정산사업자)"] = norm4(df["승차정류장ID(정산사업자)"])
df["하차정류장ID(정산사업자)"] = norm4(df["하차정류장ID(정산사업자)"])

map_name = dict(zip(st["역번호"],st["노드역명"]))
map_name

df["승차역명"] = df["승차정류장ID(정산사업자)"].map(map_name)
df["하차역명"] = df["하차정류장ID(정산사업자)"].map(map_name)

print(df[[
    "일련번호",
    "승차정류장ID(정산사업자)","승차역명",
    "하차정류장ID(정산사업자)","하차역명",
]].head())

  일련번호 승차정류장ID(정산사업자) 승차역명 하차정류장ID(정산사업자) 하차역명
0    1           1275   일산         1021.0  NaN
1    2           1021   녹천         1275.0  NaN
2    1           0309   지축         1002.0  NaN
3    1           0222   강남         1851.0  NaN
4    1           1757   고잔         1756.0  NaN

In [2]:
import pandas as pd

df = pd.read_parquet("DATA_OUTPUT/TCD_20220513.parquet").sort_values("승차일시")
df.head(20)

,가상카드번호,승차정류장ID(정산사업자),하차정류장ID(정산사업자),승차일시,하차일시,트랜잭션ID,환승횟수,승차역명,하차역명,이동시간
9400665,UOD/4kSJ0+5OygdnGVKb5dRtUpOW18rQrSzjuTXdMZE=,1203,0208,2022-05-13 04:31,2022-05-13 05:51,001,0,망우,왕십리(성동구청),01:20
12598634,IZ9FHb/R7ioS8yI5MoeqDelJWtrkBKaVxFsHsKDQkzQ=,1701,0242,2022-05-13 04:33,2022-05-13 05:47,001,0,구로,아현,01:14
3074708,pfXjrNJOCH9TbsKWVUWXcAbVIO2lAbZ1rVjjJqYdYGo=,1716,0220,2022-05-13 04:33,2022-05-13 06:19,001,0,병점,선릉,01:45
11957991,Knr98dD7eXCP5N2FItP22n8NubURpDGTbOeeZpFMeyk=,1806,0238,2022-05-13 04:33,2022-05-13 05:47,001,1,부평,합정,01:13
6720923,dm3GwAVolMysep8ZqcmgaXMPQja0xIYzz7GutYjo6qg=,1906,0211,2022-05-13 04:34,2022-05-13 05:58,001,0,의정부,성수,01:23
12462435,I6zzVFlMRQuiLCQa04SYUaCcJeHRBOwwBla7NwEZ3Ho=,1806,0240,2022-05-13 04:35,2022-05-13 05:51,001,0,부평,신촌,01:15
1989751,s2la7o/CthV9D1mYFoki74m7s9sZhBtIsDqpA447ik4=,1803,0224,2022-05-13 04:35,2022-05-13 06:06,001,0,역곡,서초,01:30
18694551,/ewi91BerqcNRD8wG0WsPAGQmWDJ76C8fVnFO9La1EA=,1806,0248,2022-05-13 04:36,2022-05-13 05:51,001,0,부평,양천구청,01:15
11397783,OBaZEmTrcFX31Ij15j6dV2Zr7KmTbHbszp6/wLAwTZo=,1806,0219,2022-05-13 04:37,2022-05-13 06:09,001,0,부평,삼성,01:31
17485894,3ZP6pSIxq/nSAenAapzxk/ACy7gpxHYTrJ3Uz9KkLfs=,1806,0232,2022-05-13 04:37,2022-05-13 05:41,001,0,부평,구로디지털단지,01:03
2349835,sKfFW/3vEZmasixENd00X/P5xNP1CDRHtQxVc4ZGrJ4=,1852,0222,2022-05-13 04:37,2022-05-13 05:53,001,0,태평,강남,01:15
15681686,9G3vwAMVC1GBHgEv7ShwP/ACcMI3/H2KyWc0WlWj0i4=,1006,0243,2022-05-13 04:37,2022-05-13 05:34,001,0,영등포,충정로,00:56
8184970,YuPFPxASOTWI6FIjeAtObVH/tqX1DX9Qbk+yFSZRaiA=,1806,0222,2022-05-13 04:38,2022-05-13 06:03,001,0,부평,강남,01:25
10807878,OPL0zjWiq7t/dwwDB4P/cStrn6SqjxxCYti3hSAgC0U=,1806,0247,2022-05-13 04:38,2022-05-13 05:49,001,0,부평,도림천,01:11
2192831,slLuEKoLUn1llnw0HZnamH9X72svxqLRQBIonjWyUfo=,1715,0221,2022-05-13 04:39,2022-05-13 06:17,001,0,세류,역삼,01:38
10269852,RA7XfT54CTCQYSORIUJliY2j+N/KdOPIzrIdbwxLuII=,0234,0219,2022-05-13 04:40,2022-05-13 06:03,001,1,신도림,삼성,01:22
12049362,LNdif6shY7UB87UI/7aujMbZGBC2fbvkykpaI01Vw74=,0234,1909,2022-05-13 04:40,2022-05-13 06:20,001,0,신도림,양주,01:40
11895809,LZk9HW5kBhCRATgu5k7bMD1sv17gCy0psqYH84iM2S0=,0228,1450,2022-05-13 04:40,2022-05-13 05:55,001,0,서울대입구,선바위,01:14
13269013,GtdI4GcGySyArRqp5kovpbyknXAI2TLw0mgPFkdro94=,0219,2550,2022-05-13 04:40,2022-05-13 06:04,001,0,삼성,길동,01:24
10530397,PLcgBaVzPz96dL0CHIPsCv1eJ047jg+D7FYqNuiLQ8w=,0219,0419,2022-05-13 04:40,2022-05-13 06:26,001,0,삼성,한성대입구,01:46